<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="WindowsGrep.Setup" Language="1033" Version="1.0.0.0" Manufacturer="SamuelTurnerLill" UpgradeCode="7121ded5-d689-4226-b128-4ca0800ee076">
    <Package InstallerVersion="400" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade Schedule="afterInstallInitialize" AllowDowngrades="yes"/>
    <Media Id="1" Cabinet="WindowsGrep.cab" EmbedCab="yes"/>

    <?if $(var.Platform) = x64 ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?else ?>
    <?define Win64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?endif ?>

    <CustomAction Id="PatchInstall" Property="REINSTALL" Value="ALL" />
    <InstallExecuteSequence>
      <Custom Action="PatchInstall" Before="InstallInitialize">PATCH</Custom>
    </InstallExecuteSequence>

    <Feature Id="ProductFeature" Title="WindowsGrep.Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
          
    <UIRef Id="WixUI_WindowsGrep"/>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="WindowsGrep" />
      </Directory>
    </Directory>
  </Fragment>
    
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="{6919196A-7A70-42F3-8139-F7D2654958E6}" Win64="$(var.Win64)">
        <File Id="grep.exe" Name="grep.exe" Source="$(var.WindowsGrep.TargetDir)..\publish\WindowsGrep.exe" Vital="yes" KeyPath="yes" DiskId="1" />
      </Component>
              
      <Component Id ="Path" Guid="{90BFF968-E5F2-49A0-A534-66BAA45DF4DF}" KeyPath="yes">
          <Environment Id="PATH" Name="PATH" Value="C:\Program Files (x86)\WindowsGrep" Permanent="yes" Part="last" Action="set" System="no"/>
      </Component>
      
      <!--<Component Id="RegistryEntries" Guid="{1A24E1EC-CAD7-4C37-8423-95BD5D77FC7F}">-->
          
          <!--Administrator keys-->
          <!--<RegistryKey Root="HKCR"
                     Key="Directory\Background\shell\WindowsGrep"
              Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="Windows Grep" KeyPath="yes"/>
          <RegistryValue Type="string" Name="Icon" Value="C:\Program Files (x86)\WindowsGrep\WindowsGrep.exe"/>
        </RegistryKey>
        
        <RegistryKey Root="HKCR"
                     Key="Directory\Background\shell\WindowsGrep\command"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="&quot;C:\Program Files (x86)\WindowsGrep\WindowsGrep.exe&quot; 	&quot;cd=%v.&quot;"/>
        </RegistryKey>
        
        <RegistryKey Root="HKCR"
                     Key="*\shell\WindowsGrep"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="Windows Grep"/>
          <RegistryValue Type="string" Name="Icon" Value="C:\Program Files (x86)\WindowsGrep\WindowsGrep.exe"/>
        </RegistryKey>
        
        <RegistryKey Root="HKCR"
                     Key="*\shell\WindowsGrep\command"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="&quot;C:\Program Files (x86)\WindowsGrep\WindowsGrep.exe&quot; 	&quot;cd=%v.&quot;"/>
        </RegistryKey>-->
        
        <!--<RegistryKey Root="HKCR"
                     Key="CLSID\{323464D0-C4F7-4F97-9B9F-1D00A221F5B6}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="Windows Grep"/>
        </RegistryKey>
        
        <RegistryKey Root="HKCR"
                     Key="CLSID\{323464D0-C4F7-4F97-9B9F-1D00A221F5B6}\InProcServer32"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="C:\Program Files (x86)\WindowsGrep\WindowsGrep.exe"/>
          <RegistryValue Type="string" Name="ThreadingModel" Value="Both"/>
        </RegistryKey>-->
        
        <!--<RegistryKey Root="HKCR"
                     Key="*\shellex\ContextMenuHandlers\WindowsGrep"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="{323464D0-C4F7-4F97-9B9F-1D00A221F5B6}"/>
        </RegistryKey>-->
        
        <!--{323464D0-C4F7-4F97-9B9F-1D00A221F5B6}-->
        <!--HKEY_CLASSES_ROOT\*\shell-->
        
       <!--Non-administrator keys-->
        <!--HKEY_CURRENT_USER\Software\Classes\*\shell-->
        <!--HKEY_CURRENT_USER\Software\Classes\directory\Background\shell-->
      <!--HKEY_CURRENT_USER\Software\Classes\directory\shell-->
      <!--</Component>-->
    </ComponentGroup>
  </Fragment>
</Wix>
