<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="GrepForWindows.Setup" Language="1033" Version="1.0.0.0" Manufacturer="SamuelTurnerLill" UpgradeCode="7121ded5-d689-4226-b128-4ca0800ee076">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <?if $(var.Platform) = x64 ?>
      <?define Win64 = "yes" ?>
      <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?else ?>
      <?define Win64 = "no" ?>
      <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?endif ?>

    <Feature Id="ProductFeature" Title="GrepForWindows.Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <!--<UIRef Id="WixUI_Account"/>-->

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="GrepForWindows" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="ProductComponent" Guid="{6919196A-7A70-42F3-8139-F7D2654958E6}" Win64="$(var.Win64)">
        <File Id="GrepForWindows.exe" Name="GrepForWindows.exe" Source="$(var.GrepForWindows.TargetPath)" Vital="yes" KeyPath="yes" DiskId="1" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
